<div class="addparty">


    <form action="/events/add-to-db" method="post" class="addparty__form">


        <label for="name" class="addparty__label">Nazwa imprezy</label>
        <input type="text" name="name" id="name" class="addparty__title">

        <label for="description" class="addparty__label">Opis Imprezy</label>
        <textarea name="description" id="description" class="addparty__description" cols="30" rows="3"></textarea>


        <label for="date" class="addparty__label">Data</label>
        <input type="date" class="addparty__date" name="date" id="date">


        <label for="time" class="addparty__label">Start Imprezy</label>
        <input type="time" class="addparty__time" name="time" id="time">


        <label for="place" class="addparty__label">Miejsce</label>


        <label for="organizer" class="addparty__label">Organizator</label>
        <input type="text" class="addparty__organizer" name="organizer" id="organizer">


        <p class="form-home__description">Kategorie Wiek:</p>
        <div class="addparty__checboxcontainer">
            {{#each age}}
                <div class="addparty__checkbox-category">
                    <input type="checkbox" class="form-home__checkbox" id="checkbox-{{this}}" name="{{this}}">
                    <label class="form-home__label" for="checkbox-{{this}}">{{this}}</label>
                </div>
            {{/each}}
        </div>
        <p class="form-home__description">Kategorie Typ:</p>
        <div class="addparty__checboxcontainer">
            {{#each category}}
                <div class="addparty__checkbox-category">
                    <input type="checkbox" class="form-home__checkbox" id="checkbox-{{this}}" name="{{this}}">
                    <label class="form-home__label" for="checkbox-{{this}}">{{this}}</label>
                </div>
            {{/each}}
        </div>


        <button class="form-home__submit" type="submit">Wyślij</button>
    </form>

</div>