<div id="calendar">
    {{>range-picker-calendar}}
</div>

 



<form action="/home" method="post" class="form-home">
    
    <div class="form-home__legend-container">
        <div class="form-home__legend">
            <div class="form-home__color form-home__color--red"></div>
            <span class="form-home__legend-info">Dzisiejsza Data</span>
        </div>
        <div class="form-home__legend">
            <div class="form-home__color form-home__color--orange"></div>
            <span class="form-home__legend-info">Data Obserwowanej Imprezy</span>
        </div>
        <div class="form-home__legend">
            <div class="form-home__color form-home__color--green"></div>
            <span class="form-home__legend-info">Święto Narodowe lub Kościelne</span>
        </div>
    </div>


    <p class="form-home__description">Parametry Wyszukiwania</p>
    <!--        <label class="form-home__searchlabel" for="search-input">Poszukiwana fraza</label>-->
    <div class="form-home__searchbox">
    <input type="text" class="form-home__searchinput" id="search-input" name="searchParameters"
           placeholder="Szukaj imprezy">
    <i class="fas fa-search fa-lg"></i>
    </div>

    <!--    <div id="age-categories" class="form-home__agecategories">-->
    <!--        <label class="form-home__agelabel" for="first-age-input">Wiek od:</label>-->
    <!--        <input class="form-home__ageinput" type="number" id="first-age-input" name="firstAge" min="1" max="99">-->
    <!--        <label class="form-home__agelabel" for="second-age-input">Wiek do:</label>-->
    <!--        <input class="form-home__ageinput" type="number" id="second-age-input" name="secondAge" min="1" max="99">-->
    <!--    </div>-->

    <p class="form-home__description">Kategorie Wiek:</p>


    <div class="form-home__checboxcontainer">
        {{#each age}}
            <div class="form-home__checkbox-category">
                <input type="checkbox" class="form-home__checkbox" id="checkbox-{{this}}" name="{{this}}">
                <label class="form-home__label" for="checkbox-{{this}}">{{this}}</label>
            </div>
        {{/each}}
    </div>


    <p class="form-home__description">Kategorie Typ:</p>
    <div class="form-home__checboxcontainer">
        {{#each category}}
            <div class="form-home__checkbox-category">
                <input type="checkbox" class="form-home__checkbox" id="checkbox-{{this}}" name="{{this}}">
                <label class="form-home__label" for="checkbox-{{this}}">{{this}}</label>
            </div>
        {{/each}}
    </div>


    <button class="form-home__submit" type="submit">Wyślij</button>
</form>