{{#each info}}

    <div class="party-component">
        <div class="main-part">
            <div class="party-name">
                <div class="party-name--name font-yellow">
                    {{this.name}}
                </div>
                <div class="party-name--date font-white">
                    ({{ dateFixer this.date}})
                </div>
            </div>
            <div class="party-info">
                <div class="party-info--start">
                    Start: <span class="font-white"> godz: {{this.time}}</span>
                </div>
                <div class="party-info--place">
                    Miejsce: <span class="font-white"> {{this.place}}</span>
                </div>
            </div>
            <div class="party-image">
                <img src="/assets/images/party-img.jpg" alt="image of party">
            </div>
            <div class="party-organizer">
                <div class="party-organizer--label font-yellow">
                    Organizator:
                </div>
                <div class="party-organizer--name_stars">
                    <div class="party-organizer--name font-red">{{this.organizer}}</div>
                    <img src="/assets/images/4-gwiazdki.png" alt="score (4 stars)">
                </div>
            </div>
        </div>
        <div class="party-buttons">
            <div class="party-buttons--follow party-button">
                <i class="fas fa-star"></i> Obserwuj
            </div>
            <div class="party-buttons--more-info party-button">
                <a href="/party/{{this._id}}"><i class="fas fa-info-circle"></i> Więcej info...
                </a>
            </div>
        </div>
    </div>

{{/each}}
