{{#each info}}
       <div class="party-component">
        <div class="party-component__main">
            <div class="party-component__overview">
                <div class="party-component__name">
                    {{this.name}}
                </div>
                <div class="party-component__date">
                    ({{ dateFixer this.date}})
                </div>
            </div>
            <div class="party-component__info">
                <div class="party-component__info--start">
                    Start: <span class="font-white"> godz: {{this.time}}dfgdfgfdgfdg</span>
                </div>
                <div class="party-component__info--place">
                    Miejsce: <span class="font-white"> {{this.place}}fdgdfgdfgdfgg</span>
                </div>
            </div>
            <div class="party-component__box-image">
                <img src="/assets/images/party-img.jpg" class="party-component__image" alt="image of party">
            </div>
            <div class="party-component__organizer">
                <div class="party-component__organizer-label font-yellow">
                    Organizator:
                </div>
                <div class="party-component__organizer-stars">
                    <div class="party-component__organizer-name font-red">{{this.organizer}}dfgdfgdfgdfgfdg</div>
                    <img class="party-component__organizer-image" src="/assets/images/4-gwiazdki.png"
                         alt="score (4 stars)">
                </div>
            </div>
        </div>
        <div class="party-component__box-button">

            {{#if ../follow}}
            <a href="/events/add-follower/{{this._id}}" class="party-component__button party-component__button--follow">
                <i class="fas fa-lg fa-star"></i> Obserwuj </a>
            {{/if}}

            {{#if ../unfollow}}
                <a href="/events/remove-follower/{{this._id}}" class="party-component__button party-component__button--follow">
                    <i class="fas fa-lg fa-star"></i> Usuń </a>
            {{/if}}

            <a href="/events/get-event-id/{{this._id}}" class="party-component__button party-component__button--more-info">
                <i class="fas fa-lg fa-info-circle"></i> Więcej info </a>
            </div>
    </div>

{{/each}}

